.App {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

.footer {
  background-color: #92DAD9;
  color: #EEF6F9;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #AC6869; 
  background-color: #F7E2E1;
  border: #AC6869;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline; 
}

.navbar {
  background-color: #92DAD9;
  padding: 10px;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #f0e7e7;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #AC6869;
}

.nav-icon {
  margin-right: 5px;
  scale: 1.3;
  font-size: 1.2rem;
}

.home {
  text-align: center;
  padding: 40px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.squarespace-cdn.com/content/v1/6014c3e060bac64bcb513989/1614027784117-BWM1L7RWP8DAPHWNTDVF/PINK+FLAMINGO+TREATMENT2.jpg');
  background-size: cover;
  background-position: center;
}

.home-tekst {
  background-color: #f0e7e7;
  opacity: 90%;
  min-width: 950px ;
  color: #AC6869;
  padding: 30px;
  position: absolute;
  border-radius: 15px;
}

h1 {
  color: #AC6869;
  border-radius: 15px;
  background-color: #F7E2E1;
  border: none;
  width: auto;
  padding: 10px 20px;
  font-size: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1:hover {
  background-color: #AC6869;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image-container img {
  width: 100%; 
  height: auto;
  max-height: 500px;
  border-radius: 10px;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

button {
  background-color: #F7E2E1;
  color: #AC6869;
  border: none;
  width: auto;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #AC6869;
  color: white;
}

h3 {
  color: #AC6869;
  font-size: 25px;
}

.specialists-page {
  background-image: url('https://images.squarespace-cdn.com/content/v1/6014c3e060bac64bcb513989/1614027784117-BWM1L7RWP8DAPHWNTDVF/PINK+FLAMINGO+TREATMENT2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  height: 900px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.zaposleni-lista {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.zaposleni-lista li {
  width: calc(40% - 20px); 
  height: 200px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.zaposleni-lista li:hover {
  background-color: #F7E2E1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f0e7e7; 
  padding: 30px;
  border-radius: 10px;
  max-width: 85%;
  position: relative;
  color: #AC6869;
  font-size: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #AC6869; 
}

.close:hover {
  color: #ECA4A4; 
}

