.App {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

.footer {
  background-color: #92DAD9;
  color: #EEF6F9;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #AC6869;
}

.footer a {
  color: #AC6869; 
  background-color: #F7E2E1;
  border: #AC6869;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline; 
}

